<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=en&v=3&libraries=geometry", "route" %>

<p id="notice"><%= notice %></p>


<p>
  <b>Departure address:</b>
  <div id="start"><%= @point.departure_address %></div>
</p>

<p>
  <b>Arrival address:</b>
  <div id="end"><%= @point.arrival_address %></div>
</p>

<p>
  <b>Distance departure range:</b>
  <%= @point.distance_departure_range %>
</p>

<p>
  <b>Distance arrival range:</b>
  <%= @point.distance_arrival_range %>
</p>

<div id="route_map"></div>

<p>
  <b>Start time:</b>
  <%= @point.start_time %>
</p>

<p>
  <b>Time range from:</b>
  <%= @point.time_range_from %>
</p>

<p>
  <b>Time range to:</b>
  <%= @point.time_range_to %>
</p>

<%= link_to "Find matched routes", matched_routes_path(@point) %> |
<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
