<p id="notice"><%= notice %></p>
<p id="intro"><b>Car pooling</b> helps individuals to reach their destination together. <br />Someone is offering (driver) and someone is asking (passenger) for a route. <br />The application<b> combines their routes.</b> <br />Find out how:</p>
	<div data-role="collapsible-set" id="home-icons">
		<div data-role="collapsible" data-collapsed="false">
			<h2 id="add" icon="false"><img src= "<%= asset_path("new.png") %>" class="home-icon"></h2>
			<p class="triangle-border" id="top">Add new route</p>
		</div>
		
		<div data-role="collapsible" data-collapsed="true">
			<h2 id="search"><img src= "<%= asset_path("search.png") %>" class="home-icon"></h2>
			<p class="triangle-border" id="right">Search matching route</p>
		</div>
						
		<div data-role="collapsible" data-collapsed="true">
			<h2 id="claim"><img src= "<%= asset_path("claim.png") %>" class="home-icon"></h2>
			<p class="triangle-border">Claim preferable route among available</p>
		</div>
						
		<div data-role="collapsible" data-collapsed="true">
			<h2 id="car"><img src= "<%= asset_path("car.png") %>" class="home-icon"></h2>
			<p class="triangle-border" id="left">Travel to your destination!</p>
	</div>
		
	<div id="arrow1"><img src= "<%= asset_path("arrow1.png") %>"></div>
	<div id="arrow2"><img src= "<%= asset_path("arrow2.png") %>"></div>
	<div id="arrow3"><img src= "<%= asset_path("arrow3.png") %>"></div>
	<div id="clear"></div>
</div>