<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=en", "geocode" %>
<%= javascript_include_tag "jquery.mousewheel.min.js",
"http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.js",
"http://dev.jtsage.com/cdn/datebox/i8n/jquery.mobile.datebox.i8n.en.js" %>
<%= stylesheet_link_tag "http://dev.jtsage.com/cdn/datebox/latest/jquery.mobile.datebox.min.css" %>

<%= form_for(@route) do |f| %>
<% if @route.errors.any? %>
<div id="error_explanation">
	<h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

	<ul>
		<% @route.errors.full_messages.each do |msg| %>
		<li>
			<%= msg %>
		</li>
		<% end %>
	</ul>
</div>
<% end %>

<div data-role="fieldcontainer">
	<%= f.hidden_field :departure_lat %>
	<%= f.hidden_field :departure_lng %>

	<%= f.hidden_field :arrival_lat %>
	<%= f.hidden_field :arrival_lng %>
</div>

<!-- departure -->
<div id="depDiv" class="field">
	<%= f.label :departure_address, "From:" %>
	<br />
	<%= f.text_field :departure_address, :name => "route[departure_address]", :title => "Departure Address",
    :style => "color:#888;", :value => "Departure address", :onfocus => "inputFocus(this)", :onblur => "inputBlur(this)" %>

	<div id="dep_map"></div>

	<div data-role="fieldcontainer">
		<%= f.label :departure_range, "Range around your departure (km):" %>
		<br />
		<%= f.text_field :departure_range, :name => "route[distance_departure_range]", :title => "Departure Range",
      "input type" => "range", :class => "kmRange", :min => "0", :max => "10", :value => "1", "data-theme" =>  "b" %>
	</div>
</div>
<!-- end of	departure -->

<!-- arrival -->
<div id="arrDiv" class="field">
	<%= f.label :arrival_address, "To:" %>
	<br />
	<%= f.text_field :arrival_address, :name => "route[arrival_address]", :title => "Arrival Address",
    :style => "color:#888;", :value => "Arrival address", :onfocus => "inputFocus(this)", :onblur => "inputBlur(this)" %>

	<div id="arr_map"></div>

	<div data-role="fieldcontainer">
		<%= f.label :arrival_range, "Range around your arrival (km):" %>
		<br />
		<%= f.text_field :arrival_range, :name => "route[distance_arrival_range]", :title => "Departure Range",
      "input type" => "range", :class => "kmRange", :min => "0", :max => "10", :value => "1", "data-theme" =>  "b" %>
	</div>
</div>
<!-- end of	arrival -->

<!-- select date -->
<div id="dateTimeDiv" class="field" data-role="fieldcontainer">
	<div data-role="controlgroup" id="date">
		<label for="depDate">Select date:</label>
		<input data-options='{"mode": "flipbox"}' data-role="datebox" name="route[date]" onblur="inputBlur(this)"
			onfocus="inputFocus(this)" size="30" style="color:#888;" type="date" value="mm/dd/yy" />
	</div>
	<!-- select time range -->
	<div data-role="controlgroup" id="timeZone">
		<label for="depTimeZone">Departure Time Zone</label>
		<label for="depTimeZone">From:</label>
		<input name="route[time_range_from]" value="hh:mm" style="color:#888;"
			onfocus="inputFocus(this)" onblur="inputBlur(this)" type="date" data-role="datebox"
			data-options='{"mode": "timeflipbox", "timeFormatOverride": 24}' />

		<label for="depTimeZone">To: &nbsp &nbsp</label>
		<input name="route[time_range_to]" type="date" value="hh:mm" style="color:#888;" 
			onfocus="inputFocus(this)" onblur="inputBlur(this)"
			data-role="datebox" data-options='{"mode": "timeflipbox", "timeFormatOverride": 24}' />
	</div>

</div>

<!-- offer/ask route -->
<div data-role="controlgroup" data-type="horizontal" id="offerAsk">
	<label for="offer">I'm offering a route</label>
	<input type ="radio" id="offer" name="route[offer]" value="1" />

	<label for="ask">I'm asking a route</label>
	<input type ="radio" id="ask" name="route[offer]" value="0" />
</div>
<!-- end offer/ask route -->

<!-- submit button -->
<div class="actions" id="newRouteSubmit">
	<%= f.submit "Submit new route", "data-theme" => "a", :id => "submitNewRoute" %>
</div>
<!-- end submit button -->

<% end %>
<!-- end of form for new route -->

<script>
	function inputFocus(i) {
		if(i.value == i.defaultValue) {
			i.value = "";
			i.style.color = "#000";
		}
	}

	function inputBlur(i) {
		if(i.value == "") {
			i.value = i.defaultValue;
			i.style.color = "#888";
		}
	}
</script>

