<h1>My Routes</h1>

<table id="myRoutes">
  <tr>
  	<th>Show</th>
    <th>Edit</th>
    <th>Destroy</th>
    <th>Departure address</th>
    <th>Arrival address</th>
    <!-- <th>Distance departure range</th>
    <th>Distance arrival range</th> -->
    <th>Date</th>
  <!--   <th>Time range from</th>
    <th>Time range to</th> -->
  </tr>

<% @routes.each do |route| %>
  <tr>
  	<td><%= link_to image_tag("show.png"), route %></td>
  	<td><%= link_to image_tag("edit.png"), edit_route_path(route) %></td>
    <td><%= link_to image_tag("destroy.png"), route, confirm: 'Are you sure?', method: :delete %></td>
    <td><%= route.departure_address %></td>
    <td><%= route.arrival_address %></td>
 <!--    <td><%= route.distance_departure_range %></td>
    <td><%= route.distance_arrival_range %></td> -->
    <td><%= route.date %></td>
<!--     <td><%= route.time_range_from %></td>
    <td><%= route.time_range_to %></td> -->
  </tr>
<% end %>
</table>


<br />

<!-- <%= link_to 'New Point', new_route_path %> -->