<%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&language=en&v=3&libraries=geometry", "route" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Departure address:</b>
  <div id="start"><%= @route.departure_address %></div>
</p>

<p>
  <b>Arrival address:</b>
  <div id="end"><%= @route.arrival_address %></div>
</p>

<p>
  <b>Distance departure range:</b>
  <%= @route.distance_departure_range %>
</p>

<p>
  <b>Distance arrival range:</b>
  <%= @route.distance_arrival_range %>
</p>

<div id="route_map"></div>

<p>
  <b>Date:</b>
  <%= @route.date.strftime('%d-%b-%y') %>
</p>

<p>
  <b>Time range from:</b>
  <%= @route.time_range_from.strftime('%H:%M') %>
</p>

<p>
  <b>Time range to:</b>
  <%= @route.time_range_to.strftime('%H:%M') %>
</p>

<p>
  <b>Fellow Route ID:</b>
  <%= @route.fellow_id %>
</p>

<%= link_to "Find matched routes", matched_routes_path(@route), "data-role" => "button", "data-theme" => "a", 
	"data-icon" => "search", "data-inline" => "true", :id => "findBtn", "data-transition" => "flip" %>
<%= link_to 'Edit', edit_route_path(@route), "data-role" => "button", "data-theme" => "c", "data-icon" => "gear",
	"data-inline" => "true", :id => "editBtn", "data-transition" => "slide" %>
	
	