<!DOCTYPE html>
<html>
  <head>
    <title>Car Pooling</title>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <script src="http://code.jquery.com/jquery-1.7.2.min.js"></script>
    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  <body>
  	<section data-role="page">
  			<%= render "/layouts/header" %>

        <section class="content" data-role="content">
  				<%= yield %>
  			</section>

        <%= render "/layouts/footer" %>
  	</section>
  </body>
</html>
