<!DOCTYPE html>
<html>
<head>
  <title>Car Pooling</title>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.css"/>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
  <script src="http://code.jquery.com/mobile/1.1.0/jquery.mobile-1.1.0.min.js"></script>	
</head>
<body>
	<section data-role="page">
			<%= render "/layouts/header" %>
			<section class="content" data-role="content">	
				<%= yield %>
			</section>	
			<%= render "/layouts/footer" %>
	</section>

</body>
</html>




			
		